/*
  All primary color #4285f4 has been changed to #5aa8ea in mdb.min.css
*/


/* Nav */
.nav-img {
      max-height: 40px;
  }

.active {
    background-color: rgba(255, 255, 255, 0.144);
    border-bottom: 3px solid #5aa8ea;
}

.btn-outline-primary:hover{
  background: rgba(255, 255, 255, 0.144) !important;
}
/* Header */
  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  /* Switch header video to image on phones and tablets */
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url("../img/1.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    header video {
      display: none;
    }

  }
  
/* HR */
  .title-hr hr {
    display: inline-block;
    width: 12%;
    margin: 10px 20px;
    border-top: 3px solid #5aa8ea;
  }
  .contact-hr hr{
    border-top: 3px solid #5aa8ea;
    width: 20%;
  }
  
/* Color */
  .color-primery{
    /* color: rgb(43, 116, 211) */
    color: #5aa8ea;
  }

/* a */
a{
  color: #5aa8ea;
}
a:hover{
  color: #0d47a1;
}

/* x-Small devices (small phones)*/
@media (max-width: 350px) { 
  header {
    height: 85vh;
  }
 }

/* Small devices (phones)*/
@media (max-width: 576px) { 
    h2{
        font-size: 20px;
    }
    h1{
      font-size: 30px;
   }
   .title-hr hr {
    width: 7%;
    margin: 10px 10px;
  }
  
 }